body {
  background: #d1e5f4;
  font-family: "Roboto Mono", monospace;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/161/118/original/d3e57ad39e62842a6cd7225ed44238bf_t.jpg?1742748496);
}

form {
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
}

main {
  padding-top: 30px;
}

h1 {
  font-family: "Pixelify Sans", sans-serif;
}

p {
  font-size: 13px;
}

strong {
  color: #7592ab;
}

footer {
  font-size: 10px;
  padding-top: 40px;
  text-align: center;
}

a {
  color: #7592ab;
}

img {
  width: 88px;
  height: 88px;
  margin-top: -25px;
}

.container {
  background-color: white;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  margin-top: 10%;
  border-radius: 5px;
}

.search {
  padding: 13px 20px;
  border-radius: 5px;
  font-family: "Roboto Mono", monospace;
  font-size: 11px;
}

.button {
  background-color: #d1e5f4;
  color: BLACK;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-family: "Roboto Mono", monospace;
}

.button:hover {
  cursor: pointer;
}

.flex-box-container {
  display: flex;
  justify-content: space-between;
}

.current-weather {
  display: flex;
  margin-top: 30px;
  margin-right: 20px;
}

.icon {
  font-size: 30px;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  top: 40px;
}

.temperature {
  font-size: 50px;
  font-family: "Pixelify Sans", sans-serif;
}

.metric {
  font-size: 26px;
  font-family: "Pixelify Sans", sans-serif;
  margin-top: 10px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  max-width: 100%;
}

.weather-forecast-date {
  text-align: center;
  font-size: 14px;
}

.weather-forecast-icon {
  font-size: 20px;
  text-align: center;
}

.weather-forecast-temperatures {
  text-align: center;
  font-size: 12px;
  color: #7592ab;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 5px;
}

.weather-forecast img {
  width: 40px;
  height: 40px;
  display: block;
  margin: 10px auto;
}
